/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 80%;
    padding: 34px;
    margin: auto;
}

.container h1 {
    text-align: center;
    font-family: 'Sriracha', cursive;
    font-size: 40px;
    color: red;
}

.container h3 {
    text-align: center;
    font-family: 'Sriracha', cursive;
    font-size: 20px;
}

a {
    color: cyan;
    text-decoration: none;
}

p {
    font-size: 20px;
    text-align: center;
    font-family: 'Sriracha', cursive;
    color: lightblue;
}

h2 {
    text-align: center;
    font-family: 'Sriracha', cursive;
    color: tomato;
}

input, textarea {
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    border-color: violet;
    font-size: 16px;
    width: 80%;
    padding: 7px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn {
    color: white;
    background: purple;
    padding: 8px 12px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
    width: auto;
}

.bg {
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.6;
}

body {
    background-color: rgb(247, 233, 236);
}

.submitMsg {
    color: green;
}


.content {
    margin-bottom: 60px;
} */

.error {
    color: tomato;
}
.footer {
    position: fixed;
    height: 60px;
    bottom: 0;
    width: 100%;
    background-color: rgb(63, 91, 95);
}